# Template for .env file
# Build Configuration
HYTALE_BUILD_TYPE=RELEASE  # RELEASE or PRERELEASE
MAVEN_PROFILE=debug        # debug (default) or release - controls compilation debug symbols

# Server Configuration
HYTALE_SERVER_PATH=D:\Applications\HytaleTools\Release\Server
HYTALE_SERVER_MODS_PATH=D:\Applications\HytaleTools\Release\Server\mods
HYTALE_SERVER_ASSETS_PATH=D:\Applications\HytaleTools\Release\Assets.zip

# Java Debug Configuration
HYTALE_DEBUG_PORT=5005